/* GLOBAL STYLES */
img {
  width: 100%;
  height: auto;
}

table,
td,
th {
  border: 1px solid #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0 5px;
}

.wrapper {
  margin: 0 1rem;
}

.d-flex {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.t-center {
  text-align: center;
}

/* HEADER STYLES
.header {} */

.header-logo {
  width: 120px;
}



/* SECTIONS STYLES */
/*.section {}*/

.section-title {
  text-decoration: underline;
}